body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
}

.title {
    padding-bottom: 26px;
    font-size: 26px;
    text-decoration:underline;
    text-align: center;
}

li:hover {
    cursor: pointer;
    opacity: 0.2;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-top: 30px;
}

#cabecalho {
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    align-items:center ;
    margin-bottom: 100px;
}

#perfil {
    color: white;
    height: 600px;
    width: 400px;
    float: left;
    margin-right: 5px;
    text-align: center;
    font-size: 18px;
}

#objetivos {
    height: 601px;
    margin-left: auto;
    color: white;
    text-align: center;
    font-size: 18px;
}
