<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage/style/homepage.css') }}"/>
    <title>Denzel-Evangelista</title>
</head>
<body>
    <div id="cabecalho">
        <ul>
            <li>
                <p>Home</p>
            </li>
            <li>
                <p>Projetos</p> <!--Transformar em botão-->
            </li>
            <li>
                <p>Conhecimentos</p> <!--Transformar em botão-->
            </li>
        </ul>
    </div>

    <div id="perfil">
        <p class="title">Dados Basicos</p>
        </br>
        <img src="{{url_for('static', filename='homepage/img/')}}">
        </br>
        <p> Denzel Gabriel Evangelista Clarindo</p>
        </br>
        <p> denzel.evangelistaclarindo@gmail.com</p>
        </br>
        <p>Ferraz de Vasconcelos</p>
        </br>
        <p>(11) 96429-5423</p>
        </br>
        <a href="https://github.com/Denzel-Evangelista" >GitHub</a>
    </div>
    <div id="objetivos">
        <p class="title">Principais Objetivos</p>
        </br>
        <p>- Concluir a homepage do Site</p>
        </br>
        <p>- Adicionar o conteudo da pagina de Projetos e Conhecimentos</p>
        </br>
        <p></p>
        </br>
        <p></p>
    </div>
</html>