<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage/style/homepage.css') }}"/>
    <title>Denzel-Evangelista</title>
</head>
<body>
    <nav id="cabecalho">
        <div>
            <h1>Denzel-Evangelista</h1>
        </div>
        <ul>
            <li>
                <p>Projetos</p>
            </li>
            <li>
                <p>Galeria</p>
            </li>
            <li>
                <p>Feedback</p>
            </li>
        </ul>
    </nav>

    <div id="perfil">
        <h2>Dados Pessoais</h2>
        </br>
        <img src="{{url_for('static', filename='homepage/img/')}}">
        </br>
        <p> Denzel Gabriel Evangelista Clarindo</p>
        </br>
        <p> denzel.evangelistaclarindo@gmail.com</p>
        </br>
        <p>Ferraz de Vasconcelos</p>
        </br>
        <p>(11) 96429-5423</p>
        </br>
        <a href="https://github.com/Denzel-Evangelista" >GitHub</a>
    </div>
    <div id="main">
        <p>Ola mundo</p>
    </div>
</html>